body{
    background-color: rebeccapurple;
}

header{
    background-color: beige;
}

.profile{
    background: transparent;
    /* background-color: black; */
    color: rgb(204, 132, 132);
    top: 20px;


}